* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'VT323', monospace;
    background-image: url(..//img/city.gif);
    background-attachment: fixed;
    background-size: cover;
    padding: 2rem 0;
}

h1 {
    text-align: center;
    padding: 1rem;
    font-size: 6rem;
}

p {
    font-size: 2rem;
    text-align: center;
    border: 3px solid black;
    width: 110px;
    aspect-ratio: 1;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bgFizzBuzz {
    background-color: #ff6200e0;
}

.bgFizz {
    background-color: #ffa459d9;
}

.bgBuzz {
    background-color: #ffe6c7db;
}

.bgNumber {
    background-color: #c5505ae2;
}


/* Responsive Layouts */

/* XS Layout (from 0px to 576px */
@media screen and (max-width: 576px) {
    main {
        background-position: center;
    }
}

/* 2K Layout (from 2560px to 3840px */
@media screen and (min-width: 2560px) {
    html {
        font-size: 30px;
    }

    p {
        width: 180px;
        border: 6px solid black;
        font-size: 1.8rem;
    }
}

/* 4K Layout (from 3840px to higher resolutions */
@media screen and (min-width: 3840px) {
    html {
        font-size: 40px;
    }

    p {
        width: 300px;
        border: 9px solid black;
        font-size: 2.2rem;
    }
}