* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'VT323', monospace;
    font-size: 2rem;
    background-image: url(..//img/city.gif);
    background-attachment: fixed;
    background-size: cover;
    padding: 2rem;
}

h1 {
    background-color: black;
    text-align: center;
    color: white;
    width: 50%;
    margin: 0 auto;
}

p {
    text-align: center;
    border: 1px solid black;
}

div.container {
    width: 50%;
    margin: 0 auto;
}

.bgFizzBuzz {
    background-color: #ff6200e0;
}

.bgFizz {
    background-color: #ffa459d9;
}

.bgBuzz {
    background-color: #ffe6c7db;
}

.bgNumber {
    background-color: #c5505ae2;
}


/* Responsive Layouts */

/* XS Layout (from 0px to 576px */
@media screen and (max-width: 576px) {
    main {
        background-position: center;
    }

    div.container,
    h1 {
        width: 70%;
    }
}

/* 2K Layout (from 2560px to 3840px */
@media screen and (min-width: 2560px) {
    html {
        font-size: 30px;
    }
}

/* 4K Layout (from 3840px to higher resolutions */
@media screen and (min-width: 3840px) {
    html {
        font-size: 40px;
    }
}